<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="catReportInterceptor" class="com.lanxiang.springboot.aoplearn.CatReportInterceptor"/>

    <!-- 方法拦截器（拦截Controller包中的所有被RequestMapping注解的方法） MethodInterceptor -->
    <aop:config proxy-target-class="true">
        <aop:pointcut id="catReportLockSeatPointCut" expression="execution(* com.lanxiang.springboot.aoplearn.ILockSeatService..*(..)) and
        @annotation(com.lanxiang.springboot.aoplearn.CatReport)"/>
        <aop:advisor advice-ref="catReportInterceptor" pointcut-ref="catReportLockSeatPointCut"/>
    </aop:config>

</beans>